body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#posalji {
  border: 2px solid blue;
  background-color: cornflowerblue;
}
#tekst {
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
